@media screen and (min-width: 480px) {

    .Foto{ 
        margin-top: 100px; 

        }
    #contacto ul { 
        width: 50%;
    }

    #contacto li{
        display: block ;
        margin: 0 auto;
        width: 25%;
    }   

    .Hablemos{
        width: 70%;

    }

    #inicio > article{
        width: 70%;
    }
}    
